files:
 "/opt/elasticbeanstalk/hooks/postinit/installandrun.sh" :
  content: |
    #!/bin/bash
    yum install git -y
    cd /home/ec2-user
    aws s3 cp s3://codecomit/install.sh . --region eu-west-1
    chmod +x install.sh
    ./install.sh -i devtest -s devtest
    exit 0
  mode:  "000755"
  owner: root
  group: root
